name: Windows Build (Python 3.14.0)
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  windows_build:
    runs-on: windows-2022
    strategy:
      matrix:
        platform: [x64]
        arch: [x64]
      fail-fast: false

    steps:
      - uses: actions/checkout@v2

      - name: Install .NET 4.6.1 Developer Pack
        run: |
          choco install netfx-4.6.1-devpack -y      

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1
        
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.14

      - name: Show Python path
        run: |
          where python
          echo %RUNNER_TOOL_CACHE%
        shell: cmd
  
      - name: Install Dependencies
        run: |
          New-Item -Name "deps" -ItemType "Directory"

          Invoke-WebRequest http://files.jrsoftware.org/is/5/innosetup-5.5.9-unicode.exe -OutFile deps\innosetup-unicode.exe
          & deps\innosetup-unicode.exe /VERYSILENT | Out-Null

          Invoke-WebRequest https://github.com/hexchat/gvsbuild/releases/download/hexchat-2.16.2/idpsetup-1.5.1.exe -OutFile deps\idpsetup.exe
          & deps\idpsetup.exe /VERYSILENT

          Invoke-WebRequest https://github.com/hexchat/gvsbuild/releases/download/hexchat-2.16.2/gtk-${{ matrix.platform }}-2018-08-29-openssl1.1.7z -OutFile deps\gtk-${{ matrix.arch }}.7z
          & 7z.exe x deps\gtk-${{ matrix.arch }}.7z -oC:\gtk-build\gtk

          Invoke-WebRequest https://github.com/hexchat/gvsbuild/releases/download/hexchat-2.16.2/gendef-20111031.7z -OutFile deps\gendef.7z
          & 7z.exe x deps\gendef.7z -oC:\gtk-build

          Invoke-WebRequest https://github.com/hexchat/gvsbuild/releases/download/hexchat-2.16.2/WinSparkle-20151011.7z -OutFile deps\WinSparkle.7z
          & 7z.exe x deps\WinSparkle.7z -oC:\gtk-build\WinSparkle

          Invoke-WebRequest https://github.com/hexchat/gvsbuild/releases/download/hexchat-2.16.2/perl-5.20.0-${{ matrix.arch }}.7z -OutFile deps\perl-${{ matrix.arch }}.7z
          & 7z.exe x deps\perl-${{ matrix.arch }}.7z -oC:\gtk-build\perl-5.20\${{ matrix.platform }}

          New-Item -Path "c:\gtk-build" -Name "python-3.14" -ItemType "Directory"
          New-Item -Path "C:\gtk-build\python-3.14" -Name "${{ matrix.platform }}" -ItemType SymbolicLink -Value "C:\hostedtoolcache\windows\Python\3.14.0\${{ matrix.arch }}" -Force
          
          python -m pip install --upgrade pip
          python -m pip install cffi
        shell: powershell
               
      - name: Build
        run: |
          msbuild win32\hexchat.sln /m /verbosity:minimal /p:Configuration=Release /p:Platform=${{ matrix.platform }}
        shell: cmd

      - name: Preparing Artifacts
        run: |
          move ..\hexchat-build\${{ matrix.platform }}\HexChat*.exe .\
          move ..\hexchat-build .\
        shell: cmd

      - uses: actions/upload-artifact@v4
        with:
          name: Installer ${{ matrix.arch }}
          path: HexChat*.exe

      - uses: actions/upload-artifact@v4
        with:
          name: Build Files ${{ matrix.arch  }}
          path: hexchat-build
